
.header{
    background: url(./images/landing-image.png) fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    padding: 10px;
}
.colored{
    color: #F14648;
}
.nav-link{
    color: white;
}
.header-content{
    padding: 100px;
}
.header-content h1{
    font-size: 4rem;
}
.small-image{
    
    margin-top: 60px;
    margin-bottom: 60px;
}
.car{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.small-container{
    background-color: white;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    border-radius: 20px;
    height: 90px;
    position: absolute;
    left: 25%;
    top: 600px;
    box-shadow: 0  0 2px 0;
}
.btn{
    background-color: #F83739;
    color: white;
    margin: 10px;
}
.small{
    padding: 10px;   
}
.best-container{
        text-align: center;
        align-items: center;
        justify-content:center;
        margin-top: 50px;
}
.card{
    padding: 10px;
   margin: 10px;
   margin-top: 20px;
   width: 400px;
   text-align: left;
}
.Rental{
    text-align: center;
    align-items: center;
    justify-content:center;
    margin-top: 50px;
}
.leftContainer{
    text-align: left;
    padding-top: 150px;
}
.imageContainer{
    height: 100%;
    width: 100%;
}
.Drive{
    text-align: center;
    align-items: center;
    justify-content:center;
    margin-top: 50px;
    background: url(../src/images/CTA\ BG.png) no-repeat; 
    background-size: contain;  
    color: white; 
    height: 100vh;
}
.Footer{
   padding-top: 100px;
   padding-bottom: 100px;
   background-color: #ECEEF4;
   margin: 0;
}
.bottom{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.cardBtn{
    width: 100px;
}
@media (max-width:900px) {
  
  .header{
    background: url(./images/Rec3.png) no-repeat;
    height: 100vh;
}
.header-content h1{
    font-size: 3rem;
    margin-bottom: 10px;
}
.small-image{
    
    margin-top: 80px;
    margin-bottom: 40px;
}
.navbar{
    margin: 10px;
}
.header-content{
    padding: 20px;
    padding-top: 50px;
}
.small-container{
  
    width: 80%;
    position: absolute;
    padding-right: 5px;
    left: 13%;
}
.leftContainer{
    text-align: left;
    padding-top: 50px;
}
.Drive{
    text-align: center;
    align-items: center;
    justify-content:center;
    margin-top: 50px;
     background: url(../src/images/Rec2.png) no-repeat;
     background-size: cover;   
    height: 100vh;
}
.bottom{
    text-align: center;
    justify-content: center;
    align-items: center;
}
}